<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title>analytics_logger : <%= controller.action_name %></title>
<%= stylesheet_link_tag "/javascripts/ext-3.2.0/resources/css/ext-all" %>
<%= stylesheet_link_tag "application" %>
</head>
<body>
<%= javascript_include_tag "ext-3.2.0/adapter/ext/ext-base-debug" %>
<%= javascript_include_tag "ext-3.2.0/ext-all" %>
<%= javascript_include_tag "ux/mif-2.1.2/miframe" %>
<%= javascript_include_tag "application" %>
<script type="text/javascript">
Ext.BLANK_IMAGE_URL = "/javascripts/ext-3.2.0/resources/images/default/s.gif";
</script>
<%= yield  %>
</body>
</html>
